{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [
          "last 1 chrome versions"
        ]
      }
    ],
    ["@babel/preset-typescript"],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
